:root {
  --custom-text-dark: #ffffff;
  --custom-primary-blue-dark: #0d121c;
  --custom-secondary-blue-dark: #192234;
  --custom-primary-gold-dark: #947947;
  --custom-secondary-gold-dark: #b49864;
  --custom-text-light: #000000;
  --custom-primary-blue-light: #e3e8f2;
  --custom-secondary-blue-light: #b89d6b;
  --custom-primary-gold-light: #cbd4e6;
  --custom-secondary-gold-light: #9b7f4b;
  --custom-light-blue-shadow: #303848;
}

.svg-fill:hover > svg {
  fill: #cbd5e1;
}

.subtext-span:hover {
  color: white;
  cursor: default;
}

.blink-soft {
  animation: blinker 1s step-end infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.switch {
  font-size: 1.1rem;
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.7rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 0.1rem solid #414141;
  border-radius: 3.1rem;
  transition: all 0.4s cubic-bezier(0.2, 0.9, 0.3, 1.3);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  left: 0.2rem;
  bottom: 0.15rem;
  background-color: #cbd5e1;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.2, 1, 0.3, 1);
}

.switch input:checked + .slider {
  box-shadow: 0 0 1.3rem #64748b;
  border: 0.1rem solid #94a3b8;
}

.switch input:checked + .slider:before {
  transform: translateX(1.25rem);
}

.rainbow-gradient {
  background: linear-gradient(
    90deg,
    rgba(251, 146, 60, 1) 0%,
    rgba(239, 68, 68, 1) 50%,
    rgba(244, 114, 182, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  filter: drop-shadow(0 0 0.5rem crimson);
}

.rainbow-gradient-border {
  border: 2px solid;
  border-image: linear-gradient(
    90deg,
    rgba(251, 146, 60, 1) 0%,
    rgba(239, 68, 68, 1) 50%,
    rgba(244, 114, 182, 1) 100%
  );

  border-image-slice: 1;
  border-radius: 0.5rem;
}
