@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-text-dark: #ffffff;
  --custom-primary-blue-dark: #0d121c;
  --custom-secondary-blue-dark: #192234;
  --custom-primary-gold-dark: #947947;
  --custom-secondary-gold-dark: #b49864;
  --custom-text-light: #000000;
  --custom-primary-blue-light: #e3e8f2;
  --custom-secondary-blue-light: #b89d6b;
  --custom-primary-gold-light: #cbd4e6;
  --custom-secondary-gold-light: #9b7f4b;
  --custom-light-blue-shadow: #303848;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
